{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div align="center"><h1>アカウント編集</h1></div>
<form align="center" method="post" action=".">
    <p><label for="id_old_password">元のパスワード(※消す？？):</label>
       <input type="password" name="old_password" id="id_old_password" />
    </p> 
    <p><label for="id_new_password1">パスワード:</label>
       <input type="password" name="new_password1" id="id_new_password1" />
    </p> 
    <p><label for="id_new_password2">パスワード(確認用):</label>
       <input type="password" name="new_password2" id="id_new_password2" />
    </p> 

    <input type="submit" value="編集" />
</form>
{% endblock %}
