{% extends 'base.html' %}

{% block title %}
質問一覧
{% endblock %}

{% block content %}
<table>
    <tr>
    <td valign="top" width="70%">
    <b>{% if True %}
    まだ未回答の質問一覧
    {% else %}
    最近された質問一覧
    </b>
    {% endif %}

    {% for contact in contacts.object_list %}
    <div><a href="/thread/{{ contact.id }}/">{{ contact.title }}</a>({{ contact.comment_set.count }})</div>
    {% endfor %}

    <p><a href="/thread/new/">質問する</a></p>

<div class="pagenation">
<span class="step-links">
    {% if contacts.has_previous %}
    <a href="?page={{ contacts.previous_page_number }}">←<a>
    {% endif %}
    <span class="current">
    {{ contacts.number }} / {{ contacts.paginator.num_pages }}
    </span>
    {% if contacts.has_next %}
    <a href="?page={{ contacts.next_page_number }}">→</a>
    {% endif %}
</div>
    </td>
    <td valign="top">
        <table bordercolor="#000000">
            <tr><td width="35%"><img width="70" height="60" src="/static_site/images/404.png" />
            </td><td><b>bucho point</b><br/><h3>XXXP</h3></td></tr>
                <tr><td colspan="2">
                <b>最近した質問</b>
                {% if not thread_list %}
                <br />最近した質問はありません。
                {% endif %}
                {% for thread in thread_list %}
                <div><a href="/thread/{{ thread.id }}/">{{ thread.title }}</a>({{ thread.comment_set.count }})</div>
                {% endfor %}
                <br />
                <b>最近した回答</b>
                {% if not commented_list  %}
                <br />最近した回答はありません。
                {% endif %}
                {% for commented in commented_list %}
                <div><a href="/thread/{{ commented.thread.id }}/">{{ commented.thread.title }}</a>({{ commented.thread.comment_set.count }})</div>
                {% endfor %}
            </td></tr>
        </table>
    </td>
    </tr>
</table>

{% endblock %}
